.label {
	display: flex;
	width: 100%;
	justify-content: space-between;
	/*Commented out to use inherited fonts checkout for more uniform checkout page styling.*/
	/*font-weight: 400;*/
	/*font-family: Graphik, Helvetica, sans-serif;*/
}
